<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAC0499</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css" />
    <style>
        #iframe-metabase { width: 100%; height: 800px; border: none; border-radius: 8px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }
        #mapa-brasil { width: 100%; height: 60vh; border-radius: 8px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); margin-bottom: 30px; z-index: 1;}
    </style>
</head>
<body class="bg-light pb-5">
    <div class="container mt-4">
        <div class="row mb-3">
            <div class="col-12 text-center">
                <h1 class="display-5 text-primary fw-bold">Evolução Escolar</h1>
                <p class="text-muted">Navegue pelo mapa ou pesquise para analisar os dados.</p>
            </div>
        </div>
        
        <div class="row justify-content-center mb-4">
            <div class="col-md-8 position-relative">
                <div class="input-group shadow-sm">
                    <input type="text" id="escolaInput" class="form-control form-control-lg" placeholder="Pesquise pelo nome da escola..." autocomplete="off">
                </div>
                <div id="caixaSugestoes" class="list-group position-absolute w-100 shadow mt-1 d-none" style="z-index: 1000; max-height: 250px; overflow-y: auto;"></div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <div id="mapa-brasil"></div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div id="mensagem-erro" class="col-12 text-danger text-center mt-3 d-none"></div>
            <div class="col-12 mt-4" id="area-painel"></div>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>